.advantages__list {
  background-color: #eeeeee;
  margin: 0;
}

.advantages__list-unsorted {
  color: #000000;
  background-color: #ffffff;
}

.advantages__slogan {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  margin: 0;
  margin-bottom: 35px;
}

.advantages__intro {
  margin: 0;
  margin-bottom: 32px;
}

.advantages-item {
  color: #ffffff;
  background-color: #81b3d2;
}

.advantages__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  padding-top: 54px;
  padding-bottom: 11px;
}

.advantages__number {
  margin: 0;
  padding-bottom: 17px;
}

.advantages__description {
  margin: 0;
  padding-bottom: 40px;
}

.advantages__title-unsorted {
  padding-top: 30px;
}

.advantages__description-unsorted {
  color: #333333;
}
